body, h1, h2{
  font-family: 'Montserrat', sans-serif;
}
h4{
  margin-bottom: 20px;
}

.pet-pics {
  height: 90vh;
  background: cover;
  background-position: center;
  margin: 20px;
  background-repeat: no-repeat;
}

.welcome{
  width: 100vw;
  height: 70vh;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-attachment: fixed;
}

.title-welcome{
  position: absolute;
  color: black;
  top : 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.information{
  position: relative;
  width: 100vw;
  height: 50vh;
  text-align: center;
  margin-bottom: 20px;
}

.user-description{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
}

.details{
  text-align: left;
  margin-left: 20px;
}

.user-image{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  background-size: cover;
  background-position: center;
}

.pets{
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.picture-dog{
  height: 70vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/38284/dog-trainer-silhouettes-sunset-38284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.picture-dog-bottom{
  height: 50vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}
