<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="new-form">
        <% if policy(@pet).edit?  %>
          <%= render "form", pet: @pet %>
        <% end %>
      </div>
    </div>
  </div>
</div>
