
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url('https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Go Bark!</h1>
    <p>Want to borrow a pet?</p>
    <a href="/pets/new" class="btn btn-primary btn-lg">Add your pet!</a>
  </div>
</div>

<div class = 'container'>
  <div class = 'row'>
    <% @pets.each do |pet| %>
    <div class = 'col-sm-4'>
      <a href="/pets/<%= pet.id %>" style = "text-decoration: none">
        <div class = 'petcard' style = "background-image: url(<%= cl_image_path pet.photo %>);">
          <div class = 'petcard-image'></div>
          <div class = 'petcard-description'>
            <div class = 'petcard-name'>
              <%= pet.name %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>


