<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <h1 style= "margin-top: 70px; text-align: center;">Want to add a new pet?</h1>
      <%= render "form", pet: @pet %>
    </div>
  </div>
</div>
