<%if current_user.admin %>
  <div class = 'container'>
    <div class = 'row' id='list'>
        <% @users.each do |user| %>
      <div class = 'col-sm-4'>
        <a href="/users/<%= user.id %>" style = "text-decoration: none">
          <% if user.avatar? %>
            <div class = 'petcard' style = "background-image: url(<%= if user.avatar? cl_image_path user.avatar
            else
              "black"
              end %>);">
            <div class = 'petcard-image'></div>
            <div class = 'petcard-description'>
              <div class = 'petcard-name'>
                <%= user.name %>
              </div>
            </div>
          </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div style =" margin: 80px;">
  You are not an admin, get the fuck out
  </div>
<% end %>
