.petcard{
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px 20px;
  height: 250px;
  background-size: cover;
}

.petcard-image{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  opacity: 0;
}

.petcard-description{
  opacity: 0;
  z-index: 3;
}

.petcard-name{
  text-align: center;
  font-size: 30px;
  font-style: bold;
  color: white;
  margin-bottom: 10px;
}

.petcard:hover{
  .petcard-description{
    opacity: 1;
  }
  .petcard-image{
    opacity: 0.4;
  }
}

.usercard {
  background: black;
}

.usercard-name {
  text-align: center;
  font-size: 30px;
  font-style: bold;
  color: white;
  margin-bottom: 10px;
}
